.cal-container {
  margin: 1rem auto;
  width: fit-content;
  padding: 0.5rem;
  border: 3px solid black;
  border-radius: 20px;
}

.cal-btn {
  width: 2.25rem;
  height: 2.25rem;
  margin: 0.175rem 0.1rem;
  border-radius: 10px;
}

.cal-Display {
  border: 2px solid gray;
  border-radius: 15px;
  text-align: right;
  padding: 0.5rem;
  background-color: rgb(160, 244, 255);
  margin-bottom: 1rem;
}

.cal-btn-green {
  background-color: lightgreen;
}

.cal-btn-blue {
  background-color: lightblue;
}

.cal-btn-red {
  background-color: lightcoral;
}

.cal-btn-orenge {
  background-color: lightyellow;
}

.student {
  text-align: center;
}